################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin
**/obj
/SOLID/obj
/SOLID/obj/project.assets.json
/SOLID/obj/project.nuget.cache
/SOLID/obj/SOLID.csproj.nuget.dgspec.json
/SOLID/obj/SOLID.csproj.nuget.g.props
/SOLID/obj/Debug/net8.0/SOLID.GeneratedMSBuildEditorConfig.editorconfig
