################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/1.1/obj/Debug/netcoreapp3.1
/1.1/obj/Debug/netcoreapp3.1/Pratices.AssemblyInfoInputs.cache
